# Data Cleaning

In [1]:
# Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [6]:
#import csv file
startup_data = pd.read_csv('ks_data.csv', header = None, encoding='cp1252')
startup_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3526: DtypeWarning: Columns (0,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,NaN,NaN,NaN,NaN
1,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN

In [7]:
print("Data type : ", type(startup_data))
print("Data dims : ", startup_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (323751, 17)

In [8]:
print(startup_data.dtypes)

0      object
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9      object
10     object
11     object
12     object
13     object
14     object
15     object
16    float64
dtype: object

In [9]:
startup_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323751 entries, 0 to 323750
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       323751 non-null  object
 1   1       323747 non-null  object
 2   2       323746 non-null  object
 3   3       323751 non-null  object
 4   4       323751 non-null  object
 5   5       323751 non-null  object
 6   6       323751 non-null  object
 7   7       323751 non-null  object
 8   8       323751 non-null  object
 9   9       323751 non-null  object
 10  10      323751 non-null  object
 11  11      323751 non-null  object
 12  12      319961 non-null  object
 13  13      625 non-null     object
 14  14      12 non-null      object
 15  15      4 non-null       object
 16  16      1 non-null       float64
dtypes: float64(1), object(16)
memory usage: 42.0+ MB

# Data analysis (Numerical)

# Data analysis (Categorical)